<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello From Firebase</title>
</head>
<body>
<h1>This Page Rendered From Firebase</h1>

<h3>Author : '{{data.author}}'</h3>
<hr>
{{> partial}}

</body>
</html>